.gallery-wrapper{
    padding: 1rem 1rem 1rem 1rem;
    display:grid;
    grid-template-columns: 720px 720px;
        /* grid-template-columns: 1fr 1fr; */
    justify-content: center;

}

.start {
    opacity : 0
  }
  .end {
    opacity : 1;
    transition : opacity .5s;
  }


@media screen and (max-width:720px){

    .gallery-wrapper{
        padding: 1rem 1rem 1rem 1rem;
        display:grid;
        grid-template-columns: 720px ;
            /* grid-template-columns: 1fr 1fr; */
        justify-content: center;
    }
} 